:root {
    font-size: calc(1vw + 1em);
    --zindexOfHeader: 20;
    --zindexOfNavigation: 10;
    --zindexOfPageOverlay: 30;
    --zindexOfSearchBar: 40;
}

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

.wrapper {
    max-width: 1440px;
    margin: 0 auto;
}

a {
    text-decoration: none;
}

/*              *\
    ---header---
\*              */
header {
    padding: 1.1em 0.5em;
    position: relative;
    background-color: white;
    z-index: var(--zindexOfHeader);
}

.logo {
    font-size: 1.5rem !important;
    font-weight: bold;
    color: #1d2a35;
    position: relative;
    padding-left: 15px;
    text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

.logo::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: .2em;
    transform: scaleY(2);
    background-color: #fad285;
}

.btn {
    padding: 0.3em 0.6em;
    border-radius: 2em;
    background-color: transparent;
    cursor: pointer;
    border-color: transparent;
    font-weight: bold;
}

.btn--search {
    font-size: 0.9rem;
    color: #615B5B;
    position: absolute;
    top: 50%;
    right: calc(1.5em + 40px);
    transform: translateY(-50%);
    border: 1px solid #CBCACA;
}

.btn--search i {
    margin-right: 0.4em
}

.search-bar {
    font-size: 1rem;
    text-align: center;
    padding: 10px 20px;
    position: fixed;
    top: 4em;
    left: 10%;
    right: 10%;
    border-radius: 2em;
    border: 1px solid #CBCACA;
    display: none;
    z-index: var(--zindexOfSearchBar);
    outline: none;
}

.page-overlay {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: var(--zindexOfPageOverlay);
    display: none;
}

.menu__icon {
    position: absolute;
    height: 1.5em;
    width: 1.6em;
    top: 50%;
    transform: translateY(-50%);
    right: 10px;
    cursor: pointer;
}

.menu__icon>.icon__bar {
    height: .3em;
    border-radius: 10em;
    background-color: #3498DB;
    position: relative;
    transition: .2s;
}

.menu__icon>.icon__bar::before {
    right: 106%;
    position: absolute;
    content: '';
    height: .3em;
    width: .3em;
    border-radius: 450%;
    background-color: #3498DB;
}

.menu__icon>.icon__bar+.icon__bar {
    margin-top: calc(0.6em / 2);
}

.menu__icon.active .icon__bar--1 {
    transform: translateY(.5em) rotate(-45deg);
}

.menu__icon.active .icon__bar--2 {
    opacity: 0;
    ;
}

.menu__icon.active .icon__bar--3 {
    transform: translateY(-.5em) rotate(45deg);
}

.navigation {
    position: relative;
    z-index: var(--zindexOfNavigation);
}

ul {
    list-style: none;
}

.navigation__list-link {
    position: absolute;
    top: calc(-2.4em * 4 - 20px);
    left: 0;
    right: 0;
    transition: .2s;
}

.navigation.active .navigation__list-link {
    top: 0;
}

.navigation__link {
    display: block;
    padding: 0.7em 1em;
    color: black;
    background-color: #e6eff8;
    border-bottom: 1px solid white;
}

/* *--banner-- */
.banner {
    position: relative;
    padding-bottom: 1.5em;
    width: 100%;
}

.banner__image {
    width: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    padding-top: 1.2em;
    overflow: hidden;
}

.graphic {
    transform: translateY(100%);
}

.graphic:nth-child(1) {
    width: 35%;
    transition: 1s;
}

.graphic:nth-child(3) {
    width: 30%;
    transition: 1s 1s;
}

.graphic:nth-child(2) {
    width: 10%;
    transition: 1s 1.5s
}

.graphic:nth-child(4) {
    width: 15%;
    transition: 1s 2s;
}

.is-animate.graphic {
    transform: translateY(0);
}

h1 {
    font-size: 1.5rem;
    color: rgba(26, 24, 24, 0.877);
    text-transform: uppercase;
    padding-left: .5em;
    padding-top: .5em;
}

/**--guide---*/
section {
    padding: 1.5em 0.5em 2em;
}

h2,
h3 {
    padding-bottom: 1em;
    text-align: center;
}

.guide {
    background-color: #FFF7EF;
}

.guide .row {
    display: grid;
    gap: 0.5em;
}

.guide .col {
    display: flex;
    align-items: center;
    padding: 1em;
    width: 100%;
    min-height: 4em;
    background-color: white;
    border-top: 1px solid black;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
    border-left: 5px solid #3498DB;
}

.guide .col span {
    color: #3498DB;
    font-weight: bold;
    padding: 0.5em;
    height: 2em;
    width: 2em;
    text-align: center;
    border-radius: 50%;
    border: 1px solid #D0CECE;
    box-shadow: inset 2px 2px 4px rgba(0, 0, 0, 0.397);
    margin-right: 10px;
    flex-shrink: 0;
}


.guide .col p {
    color: rgb(34, 33, 33);
}

/* *--product-- */
.two-btn {
    display: flex;
    justify-content: space-around;
    width: 12em;
    margin: 0 auto 1.5em;
}

.btn--sell,
.btn--rent {
    font-size: 1.2rem;
    width: 4em;
    border: 1px solid mediumseagreen;
    color: mediumseagreen;
}

.active {
    background-color: mediumseagreen;
    color: white;
}

.product>p {
    text-align: center;
}

.product__list {
    gap: 15px;
    display: none;
}

.is-show.product__list--rent,
.is-show.product__list--sell {
    display: grid;
}

.product .product__card {
    min-height: 18em;
    border: 1px solid black;
    box-shadow: 2px 2px 4px #cecbcb;
}

.product .card__image {
    width: 100%;
    height: 12em;
    overflow: hidden;
    background-color: black;
}

.product .card__image img {
    width: 100%;
    min-height: 100%;
    object-fit: cover;
}

.product .card__content {
    padding: 1em;
}

h3 {
    font-size: 1rem;
}

.card_disc {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.disc_list__item {
    font-size: 0.9rem;
}

.image-icon {
    width: 1.2em;
    margin: 0 0.3em 0 0;
}

.but--detail {
    font-size: 1rem;
    color: black;
    background-color: #FAD285;
    border: 2px solid #FAD285;
    flex-shrink: 0;
}

@media screen and (min-width: 46.25em) {
    .banner {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    h1 {
        font-size: 2rem;
    }
}

@media screen and (min-width: 46.25em) and (max-width: 63.9375em) {
    .product__list {
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (min-width: 63.9375em) {
    .product .product__card {
        display: flex;
        align-items: center;
        min-height: 0;
    }

    .product .product__card:nth-child(2n) {
        flex-direction: row-reverse;
        background-color: #EDF1FF;
    }

    .product .product__card>.card__image,
    .product .product__card>.card__content {
        flex: 1 1 50%;
    }

    .guide .row {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
    }

    .guide .row .col:nth-child(3) {
        grid-column: 1/ span 2;
        justify-content: center;
    }
}